/EvalPi/build/
/EvalPi/dist/
/EvalPIOO/nbproject/private/
/Rectangles/nbproject/private/
/Rectangles/build/
/Rectangles/dist/
/Expressions/nbproject/private/
/Expressions/build/
/Expressions/dist/
/Collections/nbproject/private/
/Collections/build/